<template >
  <div class="container">
    <div class="row justify-content-center">
        <h1>Welcome</h1>
    </div>
  </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        
      
        }
    }
</script>