<template >
  <div class="container">
    <div class="row justify-content-center">
        <ul class="list-group">
          <!--là je mets mes liens-->
          <li class="list-group-item"><a href="#">produits1</a></li>
          <li class="list-group-item"><a href="#">produits2</a></li>
          <li class="list-group-item"><a href="#">produits3</a></li>
          <li class="list-group-item"><a href="#">produits4</a></li>
        </ul>
    </div>
  </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        
      
        }
    }
</script>